Core/bin
Core/obj
Mobile.Mvvm.Droid/bin
Mobile.Mvvm.Droid/obj
Platform/Mobile.Mvvm.Droid/bin/Debug
Platform/Mobile.Mvvm.Droid/obj/Debug
Playground/Sample.Touch/bin
Playground/Sample.Touch/obj
UnitTests/Mobile.Mvvm.UnitTests.iOS/bin
UnitTests/TestRunner.iOS/bin
UnitTests/TestRunner.iOS/obj
Platform/Mobile.Mvvm.iOS/bin
Playground/SampleViewModels/bin
Playground/SampleViewModels/obj
Playground/Sample.Droid/bin
Playground/Sample.Droid/obj
Platform/Mobile.Mvvm.Droid/bin
Platform/Mobile.Mvvm.Droid/obj
Base/Mobile.Utils.Portable/bin
Base/Mobile.Utils.Portable/obj
Base/Mobile.Utils.Droid/bin
Base/Mobile.Utils.Droid/obj
Base/Mobile.Utils.iOS/bin
